@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar > h1{
  color: #2b8a09;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #2b8a09;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blog {
  padding: 10px 16px;
  margin: 20px  0;
  border-bottom: 1px solid #fafafa;
}

.blog:hover {
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
}

.blog h2, .details article h2 {
  font-size: 22px;
  color: #2b8a09;
}

.blog p, .details article p {
  margin: 4px 0;
  font-size: 16px;
  font-weight: 500;
}

.blog a {
  text-decoration: none;
}

.details article div {
  margin: 20px 0;
}

.create {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  display: block;
  text-align: left;
}

.create h2 {
  font-size: 22px;
  color: #2b8a09;
  margin-bottom: 20px;
}

.create input, .create textarea, .create select {
  display: block;
  width: 100%;
  padding: 8px 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.create button, .details button {
  background: #2b8a09;
  color: #fafafa;
  border: none;
  width: 50%;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
